<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Bracket Plus">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Home.">
    <meta name="twitter:image" content="http://themepixels.me/bracketplus/img/bracketplus-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/bracketplus">
    <meta property="og:title" content="Bracket Plus">
    <meta property="og:description" content="Premium Quality and Responsive UI for Home.">

    <meta property="og:image" content="http://themepixels.me/bracketplus/img/bracketplus-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/bracketplus/img/bracketplus-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Home.">
    <meta name="author" content="ThemePixels">

    <title>Bracket Plus Responsive Bootstrap 4 Admin Template</title>

    <!-- vendor css -->
    <link href="../lib/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../lib/jquery-switchbutton/css/jquery.switchButton.css" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="../css/bracket.css">
    
  </head>

  <body class="pos-relative" data-spy="scroll" data-target="#navbarMain" data-offset="2">
    
    <div id="headPanel" class="headpanel">
      <div class="container">
        <a href="index.html" class="logo">bracket <span>plus</span></a>
        <ul id="navbarMain" class="nav mg-lg-l-40 tx-mont tx-uppercase tx-12 tx-spacing-1 tx-semibold">
          <li class="nav-item"><a href="#home" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/template/app/template/index.html" class="nav-link">Demo</a></li>

        </ul>
        <div class="d-flex align-items-center mg-l-auto">
          <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//themepixels.me/bracketplus/intro" target="_blank" class="tx-gray-500 tx-16 hover-primary hidden-md-down"><i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com/home?status=Bracket%20Plus,%20your%20best%20choice%20for%20premium%20quality%20admin%20template%20from%20Bootstrap.%20Get%20it%20now%20at%20http%3A//themepixels.me/bracketplus/intro" target="_blank" class="tx-gray-500 tx-16 hover-info mg-l-10 hidden-md-down"><i class="fab fa-twitter"></i></a>
          <a id="showMenu" href="" class="tx-24 tx-gray-600 hover-info hidden-lg-up"><i class="icon ion-navicon-round"></i></a>
        </div>
      </div><!-- container -->
    </div>
    <div id="home" class="br-home-header">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-5 col-xl-4 d-lg-flex align-items-center">
            <div>
              <img src="../img/logo.png" class="mg-b-20 mg-lg-b-30" alt="">
              <h5 class="tx-sm-32 tx-light tx-gray-700">Do bigger things with</h5>
              <h2 class="tx-sm-48 tx-bold tx-inverse">bracket <span class="tx-normal tx-info">plus</span></h2>
              <h6 class="tx-14 tx-sm-16 lh-5 tx-normal mg-b-20 mg-sm-b-40">The Responsive Bootstrap 4 Home Template</h6>

              <div class="d-flex align-items-center">
                <a href="/template/app/template/signup-simple.html" target="_blank" class="btn btn-outline-info btn-oblong bd-2 pd-x-25">
                  <span class="tx-uppercase tx-11 tx-mont tx-semibold tx-spacing-1">Sign Up</span>
                </a>
                <p>&nbsp;&nbsp;&nbsp;</p>
                <a href="/template/app/template/signin-video.html" target="_blank" class="btn btn-outline-info btn-oblong bd-2 pd-x-25">
                  <span class="tx-uppercase tx-11 tx-mont tx-semibold tx-spacing-1">Sign In</span>
                </a>
              </div><!-- d-flex -->
            </div>
          </div><!-- col -->
          
        </div>
      </div>
    </div><!-- d-flex -->
    

    
    

    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/jquery-ui/ui/widgets/Datepicker.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/parsleyjs/parsley.min.js"></script>
    <script>
      $(function(){
        'use strict';

        function checkScroll() {
          if($(document).scrollTop() > 80) {
            $('#headPanel').addClass('scroll');
          } else {
            $('#headPanel').removeClass('scroll');
          }
        }

        // sticky header effect
        checkScroll();
        $(window).scroll(function() {
          checkScroll();
        });

        // animated smooth scroll on target from top menu
        $('#navbarMain .nav-link').on('click', function(e){

          $('#navbarMain').addClass('hidden-md-down');

          var target = $(this).attr('href');
          $('html, body').animate({
            scrollTop: $(''+target).offset().top
          }, 500);

          e.preventDefault();
        });


        // customer support form submission
        $('#helpRequestForm').on('submit', function(e){
          e.preventDefault();

          // Initiate Variables With Form Content
          var fullname = $('#fullname').val();
          var email = $('#email').val();
          var topic = $('#topic').val();
          var message = $('#message').val();
          var action = $(this).attr('action');

          $.ajax({
            type: 'POST',
            url: action,
            data: 'fullname=' + fullname + '&email=' + email + '&topic=' + topic + '&message=' + message,
            success : function(state){
              if (state == 'success'){
                $('#msgSuccess').removeClass('d-none');
              }
            }
          });
        });

        $('#showMenu').on('click', function(e){
          e.preventDefault();
          $('#navbarMain').toggleClass('hidden-md-down');
        });


      });
    </script>
  </body>
  </html>
